<footer class="footer-section">
    <div class="footer-container">
        <div class="footer-about">
            <h3>Sistema de Aeropuertos</h3>
            <p>Soluciones innovadoras para la gestión de aeropuertos.</p>
        </div>
        <div class="footer-contact">
            <h3>Contacto</h3>
            <p><i class="fa-solid fa-phone"></i> +34 123 456 789</p>
            <p><i class="fa-solid fa-envelope"></i> contacto@aeropuerto.com</p>
        </div>
    </div>
    <div class="footer-bottom">
        &copy; 2024 Sistema de Aeropuertos | Todos los derechos reservados.
    </div>
</footer>
