<html>
    
    <head>
        {% load static %}
        {% load django_bootstrap5 %}
        {% bootstrap_css %}

        <title>Gestion de Promociones</title>
        <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
        <link rel="stylesheet" href="{% static 'css/cabecera.css' %}">
        <link rel="stylesheet" href="{% static 'css/pie.css' %}">
        {% bootstrap_javascript %}
        <script src="{% static 'javascript/menu.js' %}"></script>
        <script src="{% static 'javascript/eliminar.js' %}"></script>
        <script src="https://kit.fontawesome.com/9460c07a8e.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
        
        {% comment %} Encabezado {% endcomment %}
        <header class="navbar navbar-expand-lg navbar-dark bg-primary py-2">
            <div class="container-fluid d-flex align-items-center justify-content-between">
                <!-- Logo y título alineados -->
                <a class="navbar-brand d-flex align-items-center" href="/">
                    <img src="{% static 'imagenes/logo.jpeg' %}" alt="Logo" height="40" class="me-2">
                    <span>Sistema de Gestión de Promociones</span>
                </a>
                <!-- Menú y formulario con márgenes -->
                <div class="d-flex align-items-center gap-3"> <!-- Añadimos separación -->
                    {% include 'Estructura/menu.html' %}
                </div>
            </div>
        </header>

            

        {% comment %} Contenido {% endcomment %}
        <main class="content-section">
            {% block contenido %}
                <!-- Puedes agregar contenido aquí o sobreescribirlo desde otros templates extendidos -->
            {% endblock %}
        </main>

        {% comment %} Pie de pagina {% endcomment %}
        <footer class="bg-dark text-center text-white py-3">
            <p>&copy; 2024 Sistema de Gestión de Promociones. Todos los derechos reservados.</p>
        </footer>
    </body>
</html>
